global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["localhost:9093"]

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9100"]

  - job_name: "Grafana"
    static_configs:
      - targets: ["(айпишник второй ВМ):9100"]

rule_files:
  - "/etc/prometheus/alerts.yml"
